workflows.json
{"data":[{"updatedAt":"2026-06-24T00:08:57.000Z","createdAt":"2026-06-18T03:33:59.402Z","id":"Uu6AN2ww5fU6UamB","name":"my_first_workflow","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"411a5f42-6f92-46a0-b48d-a672ff23e66d","name":"When clicking ‘Execute workflow’"}],"connections":{},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"0b3baa6e-efe5-4d26-9321-892ebd47c582","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-06-18T03:33:59.437Z","createdAt":"2026-06-18T03:33:59.437Z","role":"workflow:owner","workflowId":"Uu6AN2ww5fU6UamB","projectId":"mrNEFdhd2FCbWx9d"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-07-02T01:48:57.906Z","createdAt":"2026-07-01T03:03:06.863Z","id":"Zi4nufVWmw9rGrOV","name":"Home-Intelligence-Actions","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"seconds"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1312,192],"id":"dd0a5e73-2362-4fdf-96a4-e4830a240541","name":"Schedule Trigger"},{"parameters":{"url":"={{ $json.home_intelligent_agent_base_url }}/actions/pending","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"asda128u1bjnfwefnsh7821231fnsjndiajdajf9nu212n1vvff11223ddmKKL09"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-880,192],"id":"4d5a4677-de1b-45f8-8b9f-0c8409acdb75","name":"HTTP Request: Get Pending Actions"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6f9a88c2-84ed-4a9f-8fc4-d1af691e591a","leftValue":"={{ $json.actions }}","rightValue":0,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-656,192],"id":"c6f94cd3-3dd1-430a-bd88-501f2bc21261","name":"If: Not Empty"},{"parameters":{"fieldToSplitOut":"actions","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-432,192],"id":"b0789909-171a-43bc-a60a-5adca4ac92a7","name":"Split Out: By Action"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"add_calendar_event","operator":{"type":"string","operation":"equals"},"id":"d5b1e27a-d6dd-49c6-b5ed-fd174be4b605"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4fc9e8c0-8d09-4452-bce9-ddf16ddfe813","leftValue":"={{ $json.type }}","rightValue":"create_task","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ef4dbaa6-b6fb-4760-aba1-5db4ed41b9cb","leftValue":"={{ $json.type }}","rightValue":"send_notification","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-208,176],"id":"92010d7c-4f6f-4ed8-9689-d318aa354304","name":"Switch: Action Type"},{"parameters":{"calendar":{"__rl":true,"value":"benbobo360@gmail.com","mode":"list","cachedResultName":"benbobo360@gmail.com"},"start":"={{ $json.data.date }}","end":"={{ $json.data.date.toDateTime().plus(60,hour) }}","additionalFields":{"description":"={{ $json.data.notes }}","summary":"={{ $json.data.title }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[64,16],"id":"87064dc0-977d-4953-8bce-1b62d14474c3","name":"Create an event","credentials":{"googleCalendarOAuth2Api":{"id":"KCnVCBVUuOq2e5KC","name":"Google Calendar account"}}},{"parameters":{"method":"POST","url":"={{ $('Set Project Variables').item.json.home_intelligent_agent_base_url }}/actions/complete","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"asda128u1bjnfwefnsh7821231fnsjndiajdajf9nu212n1vvff11223ddmKKL09"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"action_id","value":"={{ $('Split Out: By Action').item.json.action_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[224,16],"id":"4395b402-391a-4eb9-8303-1c33df34bf64","name":"HTTP Request: Post Completed"},{"parameters":{"sendTo":"benbobo360@gmail.com","subject":"Action Created","message":"=The action {{ $('Split Out: By Action').item.json.data.title }} has been added to your calendar for {{ $('Create an event').item.json.start.dateTime }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[384,16],"id":"2225d4f1-3b27-4b13-bd09-65cd764d3fc5","name":"Send a message","webhookId":"c6cb51ca-8850-4e90-8450-de4b39174016","credentials":{"gmailOAuth2":{"id":"qlWTur8YgDU8T2YI","name":"Gmail account"}}},{"parameters":{"sendTo":"benbobo360@gmail.com","subject":"=New Message From Home Intelligence Agent","message":"={{ $json.data.urgency }} - \n{{ $json.data.message }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[64,320],"id":"f23250e3-af8e-4714-8ad3-0360ed13dfad","name":"Send a message1","webhookId":"390d2f49-c86d-4380-92ca-963d53940ecd","credentials":{"gmailOAuth2":{"id":"qlWTur8YgDU8T2YI","name":"Gmail account"}}},{"parameters":{"method":"POST","url":"={{ $('Set Project Variables').item.json.home_intelligent_agent_base_url }}/actions/complete","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"asda128u1bjnfwefnsh7821231fnsjndiajdajf9nu212n1vvff11223ddmKKL09"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"action_id","value":"={{ $('Split Out: By Action').item.json.action_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[224,320],"id":"17891ef9-dcdf-4ec9-8ea3-09f314381e21","name":"HTTP Request: Post Completed1"},{"parameters":{"assignments":{"assignments":[{"id":"8ee5494b-43e6-4f27-9b2b-a25b4016c787","name":"home_intelligent_agent_base_url","value":"https://home-intelligence-agent.onrender.com/api","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1104,192],"id":"b07545c9-b857-404f-977d-684dc4d611f4","name":"Set Project Variables"},{"parameters":{"content":"## For google -- \n### (need to setup app in google cloud service)\nhttps://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service?utm_source=n8n_app&utm_medium=credential_settings&utm_campaign=create_new_credentials_modal#create-a-google-cloud-console-project","height":288,"width":464,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-672,-160],"typeVersion":1,"id":"1f826f5a-2542-4fb7-9677-cfcf57ac3581","name":"Sticky Note"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Set Project Variables","type":"main","index":0}]]},"HTTP Request: Get Pending Actions":{"main":[[{"node":"If: Not Empty","type":"main","index":0}]]},"If: Not Empty":{"main":[[{"node":"Split Out: By Action","type":"main","index":0}]]},"Split Out: By Action":{"main":[[{"node":"Switch: Action Type","type":"main","index":0}]]},"Switch: Action Type":{"main":[[{"node":"Create an event","type":"main","index":0}],[],[{"node":"Send a message1","type":"main","index":0}]]},"Create an event":{"main":[[{"node":"HTTP Request: Post Completed","type":"main","index":0}]]},"HTTP Request: Post Completed":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message1":{"main":[[{"node":"HTTP Request: Post Completed1","type":"main","index":0}]]},"Set Project Variables":{"main":[[{"node":"HTTP Request: Get Pending Actions","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"HTTP Request: Get Pending Actions":[{"json":{"actions":[{"action_id":"b9671f3a-4303-43ce-9e6d-13f01cfd553b","type":"send_notification","data":{"message":"Call Abby","urgency":"normal"},"status":"pending","created_at":"2026-07-01T02:36:53.182329"}]}}],"HTTP Request: Post Completed":[{"json":{"success":true,"action_id":"6da39e95-cd4f-4c73-9a1b-a472724441cc"}}],"HTTP Request: Post Completed1":[{"json":{"success":true,"action_id":"6da39e95-cd4f-4c73-9a1b-a472724441cc"}}]},"versionId":"c1babf79-24b9-4583-a249-40dfb3351a8c","activeVersionId":"c1babf79-24b9-4583-a249-40dfb3351a8c","triggerCount":1,"shared":[{"updatedAt":"2026-07-01T03:03:06.935Z","createdAt":"2026-07-01T03:03:06.935Z","role":"workflow:owner","workflowId":"Zi4nufVWmw9rGrOV","projectId":"mrNEFdhd2FCbWx9d"}],"activeVersion":{"updatedAt":"2026-07-02T01:50:09.000Z","createdAt":"2026-07-02T01:48:57.916Z","versionId":"c1babf79-24b9-4583-a249-40dfb3351a8c","workflowId":"Zi4nufVWmw9rGrOV","nodes":[{"parameters":{"rule":{"interval":[{"field":"seconds"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1312,192],"id":"dd0a5e73-2362-4fdf-96a4-e4830a240541","name":"Schedule Trigger"},{"parameters":{"url":"={{ $json.home_intelligent_agent_base_url }}/actions/pending","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"asda128u1bjnfwefnsh7821231fnsjndiajdajf9nu212n1vvff11223ddmKKL09"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-880,192],"id":"4d5a4677-de1b-45f8-8b9f-0c8409acdb75","name":"HTTP Request: Get Pending Actions"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6f9a88c2-84ed-4a9f-8fc4-d1af691e591a","leftValue":"={{ $json.actions }}","rightValue":0,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-656,192],"id":"c6f94cd3-3dd1-430a-bd88-501f2bc21261","name":"If: Not Empty"},{"parameters":{"fieldToSplitOut":"actions","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-432,192],"id":"b0789909-171a-43bc-a60a-5adca4ac92a7","name":"Split Out: By Action"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"add_calendar_event","operator":{"type":"string","operation":"equals"},"id":"d5b1e27a-d6dd-49c6-b5ed-fd174be4b605"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4fc9e8c0-8d09-4452-bce9-ddf16ddfe813","leftValue":"={{ $json.type }}","rightValue":"create_task","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ef4dbaa6-b6fb-4760-aba1-5db4ed41b9cb","leftValue":"={{ $json.type }}","rightValue":"send_notification","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-208,176],"id":"92010d7c-4f6f-4ed8-9689-d318aa354304","name":"Switch: Action Type"},{"parameters":{"calendar":{"__rl":true,"value":"benbobo360@gmail.com","mode":"list","cachedResultName":"benbobo360@gmail.com"},"start":"={{ $json.data.date }}","end":"={{ $json.data.date.toDateTime().plus(60,hour) }}","additionalFields":{"description":"={{ $json.data.notes }}","summary":"={{ $json.data.title }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[64,16],"id":"87064dc0-977d-4953-8bce-1b62d14474c3","name":"Create an event","credentials":{"googleCalendarOAuth2Api":{"id":"KCnVCBVUuOq2e5KC","name":"Google Calendar account"}}},{"parameters":{"method":"POST","url":"={{ $('Set Project Variables').item.json.home_intelligent_agent_base_url }}/actions/complete","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"asda128u1bjnfwefnsh7821231fnsjndiajdajf9nu212n1vvff11223ddmKKL09"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"action_id","value":"={{ $('Split Out: By Action').item.json.action_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[224,16],"id":"4395b402-391a-4eb9-8303-1c33df34bf64","name":"HTTP Request: Post Completed"},{"parameters":{"sendTo":"benbobo360@gmail.com","subject":"Action Created","message":"=The action {{ $('Split Out: By Action').item.json.data.title }} has been added to your calendar for {{ $('Create an event').item.json.start.dateTime }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[384,16],"id":"2225d4f1-3b27-4b13-bd09-65cd764d3fc5","name":"Send a message","webhookId":"c6cb51ca-8850-4e90-8450-de4b39174016","credentials":{"gmailOAuth2":{"id":"qlWTur8YgDU8T2YI","name":"Gmail account"}}},{"parameters":{"sendTo":"benbobo360@gmail.com","subject":"=New Message From Home Intelligence Agent","message":"={{ $json.data.urgency }} - \n{{ $json.data.message }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[64,320],"id":"f23250e3-af8e-4714-8ad3-0360ed13dfad","name":"Send a message1","webhookId":"390d2f49-c86d-4380-92ca-963d53940ecd","credentials":{"gmailOAuth2":{"id":"qlWTur8YgDU8T2YI","name":"Gmail account"}}},{"parameters":{"method":"POST","url":"={{ $('Set Project Variables').item.json.home_intelligent_agent_base_url }}/actions/complete","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"asda128u1bjnfwefnsh7821231fnsjndiajdajf9nu212n1vvff11223ddmKKL09"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"action_id","value":"={{ $('Split Out: By Action').item.json.action_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[224,320],"id":"17891ef9-dcdf-4ec9-8ea3-09f314381e21","name":"HTTP Request: Post Completed1"},{"parameters":{"assignments":{"assignments":[{"id":"8ee5494b-43e6-4f27-9b2b-a25b4016c787","name":"home_intelligent_agent_base_url","value":"https://home-intelligence-agent.onrender.com/api","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1104,192],"id":"b07545c9-b857-404f-977d-684dc4d611f4","name":"Set Project Variables"},{"parameters":{"content":"## For google -- \n### (need to setup app in google cloud service)\nhttps://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service?utm_source=n8n_app&utm_medium=credential_settings&utm_campaign=create_new_credentials_modal#create-a-google-cloud-console-project","height":288,"width":464,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-672,-160],"typeVersion":1,"id":"1f826f5a-2542-4fb7-9677-cfcf57ac3581","name":"Sticky Note"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Set Project Variables","type":"main","index":0}]]},"HTTP Request: Get Pending Actions":{"main":[[{"node":"If: Not Empty","type":"main","index":0}]]},"If: Not Empty":{"main":[[{"node":"Split Out: By Action","type":"main","index":0}]]},"Split Out: By Action":{"main":[[{"node":"Switch: Action Type","type":"main","index":0}]]},"Switch: Action Type":{"main":[[{"node":"Create an event","type":"main","index":0}],[],[{"node":"Send a message1","type":"main","index":0}]]},"Create an event":{"main":[[{"node":"HTTP Request: Post Completed","type":"main","index":0}]]},"HTTP Request: Post Completed":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message1":{"main":[[{"node":"HTTP Request: Post Completed1","type":"main","index":0}]]},"Set Project Variables":{"main":[[{"node":"HTTP Request: Get Pending Actions","type":"main","index":0}]]}},"nodeGroups":[{"id":"2b6d855d-e407-4d8d-ad22-e8f52d12e53f","name":"Add Calendar Event","nodeIds":["87064dc0-977d-4953-8bce-1b62d14474c3","4395b402-391a-4eb9-8303-1c33df34bf64","2225d4f1-3b27-4b13-bd09-65cd764d3fc5"]},{"id":"07a6ec5c-f34c-41cf-80e3-d03924dc7bdf","name":"Send Notification","nodeIds":["f23250e3-af8e-4714-8ad3-0360ed13dfad","17891ef9-dcdf-4ec9-8ea3-09f314381e21"]}],"authors":"Ben Bobo","name":"Version c1babf79","description":"","autosaved":true},"tags":[]}],"nextCursor":null}